.App {
  font-family: sans-serif;
  text-align: center;
  background-color: #81f1f7;
  margin: -25px;
}

.App #villagers {
  max-width: 80%;
  min-height: 80%;
  background-color: whitesmoke;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.App #villagers .villager {
  display: flex;
  justify-content: space-around;
  width: 150px;
  height: 70px;
  background-color: #9dffb0;
  border-radius: 5%;
  /* margin-right: 30px; */
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.App #villagers .villager #villager-icon {
  width: 50%;
}

.App #villagers .villager #villager-icon img {
  width: 100%;
}

.App #villagers .villager #villager-name {
  text-align: center;
  margin-top: 16%;
  font-size: 16px;
}

#favorites-button {
  background-color: #9dffb0;
  position: absolute;
  left: 3px;
  border: 1px solid black;
  width: 80px;
  height: 25px;
  position: fixed;
  font-size: 12px;
}

#my-island-button {
  background-color: #9dffb0;
  position: absolute;
  left: 3px;
  margin-top: 35px;
  border: 1px solid black;
  width: 80px;
  height: 25px;
  position: fixed;
  font-size: 12px;
}

#infoBox {
  width: 80%;
  margin-top: -20px;
  margin: 10% auto;
  background-color: white;
  border-radius: 6px;
  padding: 4px;
  max-height: 100vh;
  overflow-y: auto;
}

#infoBox h3 {
  font-size: 24px;
}

#infoBox img {
  max-height: 200px;
  max-width: 200px;
}
